/*=======RESETS============*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
	text-decoration:none!important;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*=======END OF RESETS============*/
h1 {
	font-family:'Oswald', sans-serif;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
	font-family:'Oswald', sans-serif;
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
	font-family:'Oswald', sans-serif;
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 {
	font-family:'Oswald', sans-serif;
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 {
	font-family:'Oswald', sans-serif;
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 {
	font-family:'Oswald', sans-serif;
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
/* =======CUSTOM SNIPPETS============ */

.block {
    width: 100%;
    float: left;
}
.hero {
	margin-left:10px;
	margin-top:10px;
}

.flex {
		display:flex;
		display:-webkit-flex;
		display:webkit-flex;
	}
.space-between {
		justify-content:space-between;
	}

body {
	height:100%;
	margin:0;
	width:100%;
	background:#8b713c;
}
p {
	font-family:'Open Sans', sans-serif;
	font-size:1.1em;
	line-height: 130%;
}
/*========Header Area==========>*/
.header-container {
	position: relative;
	z-index: 3;
	background-color:#3e628b;
	height: 40px;
	padding: 5px 0 0;
	width:100%;
}
.nav {
	padding-left: 0;
	position:absolute;
	top:0;
	z-index:2;
	display:inline-block;
  width: 100%;

}
.nav ul {
  list-style: none;
  color: #ffe6be;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav ul li{
font-size:1.0em;
	font-family: 'Oswald', sans-serif;
	font-weight:500;
	color:#ffe6be;
	display:inline-block;
	height:40px;
	line-height:40px;
}
.nav a {
	font-size:font-size:1.0em;;
  text-decoration: none;
  color:#ffe6be;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #a20b3b;
}
.nav a:active {

}
.nav li {
	 display: inline-block;
	 margin-right: -4px;
 }
 .nav-right {
    position: relative;
    float: right;
    width: auto;
    display: inline-block;
}
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 25px;
    line-height: 25px;
    font-size: 1.4em;
  }
	.nav ul {list-style: none;padding: 0px;margin: 0px;}
	.nav ul li {display: block;position: relative;float: left;font-size:1.0em;}
	.nav li ul {display: none;background:#a20b3b;}
	.nav ul li a {display: block;background: #3e628b;text-decoration: none;
	           white-space: nowrap;color: #fff;}
	.nav ul li a:hover {background:#a20b3b;}
	.nav li:hover ul {display: block; position: absolute;}
	.nav li:hover li {float: none;}
	.nav li:hover a {background:#a20b3b;}
	.nav li:hover li a:hover {background:#a20b3b;}
.logo-container {
	height:auto;
	width:125px;
	float:left;
}
.logo {
	max-width:125px;
	height:auto;
	position:relative;
}
#middleHeader {
	position:relative;
	width:50%;
	min-height:50px;
}
#socialMedia {
	position:relative;
	padding-left:130px;
	padding-top:24px;
}
/*======== Main Content Area ==========>*/
.main-container {
min-height:1000px;
width:1200px;
margin:0 auto;
background-color:#fff;
}
.main-content {
	position:relative;
	background:#adc4de;
	padding:0;
	height:650px;
}

.alignBottom {
		vertical-align: bottom;
	}
	@media screen and (min-width: 47.5em ) {
  .leftColumn { margin-right: 19.5em; }

	.rightColumn { position: absolute; top: 0; right: 0; width: 18.75em; }

form, input {
  color:#422b2e;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:.9em
}
input{
	padding-left:5px;
	border:2px solid #422b2e;
}
#subHeader {}
#webForm {
	box-sizing: border-box;
    top: 60px;
    padding-top: 0;
    left: 970px;
    position: absolute;
    color: #422b2e;
    width: 500px;
    display: inline-flex;
}
	}
fieldset {
border:0 none;
    width: 100%;
    top: 0px;
    position: absolute;
    left: 0px;
}
button.formButton {
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	border:0 none;
	background:#a20b3b;
	color:#ffffff;
	padding:10px;
}
button.formButton:hover {
	color:#ffe6be;
}

.asideButton {
	width: 182px; /*328 co je 1/3 - 20margin left*/
	 height: 121px;
	 line-height: 20px;
	 margin-top: 0px;
	 margin-left: 9px;
	 margin-right:0px;
	 display:inline-block;
	 position:relative;
}
.asideButton a {
	position:absolute;
	    top:0px;
	    left:0px;
	    background:blue;
	    height:75px;
	    color:#FFF;
	    width:100%;
}
#sidebar{
	  padding:0px;
    height:auto;
    width: 275px;
		margin-right:10px;
    margin-left:0;
    margin-top: 10px;;
}

#sidebar .asideItem {
    width: 275px;
    height: 195px;
    line-height: 40px;
    margin-top: 0px;
    margin-bottom:8px;
    display:block;
    position:relative;
		background: #ffffff;
}

#sidebar .asideItem a {
	font-family:'Oswald', sans-serif;
	font-weight: 700;
    position:absolute;
    top:0px;
    left:0px;
    background:rgba(250, 210, 145, 0.75);
    height:75px;
    color:#422b2e;
    width:100%;
		text-decoration:none;
		padding:15px 0 0 25px;
}

#sidebar .asideItem a:hover {
    background:rgba(250, 210, 145, 0.95);
}
.vertical-flex {
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-box-pack: center;
-webkit-box-align: center;

display: -moz-box;
-moz-box-orient: vertical;
-moz-box-pack: center;
-moz-box-align: center;

display: box;
box-orient: vertical;
box-pack: center;
box-align: center;
}
footer {
	background:#ffffff;
	display:inline-block;
	box-sizing: content-box;
	position:relative;
	width:1180px;
	height:160px;
}
.footeritem {
	box-sizing: content-box;
	height:150px;
	position:relative;
	display:inline-block;
	background:#FFFFFF;

}
.emailAddress a {
	font-weight:300;
	text-decoration:none;
	color:#422b2e!important;
}
.emailAddress a:hover {
	text-decoration:none!important;
	color:#422b2e;
	font-weight:700;
}
.pcast-player {

  .pcast-player-controls {
    box-sizing: border-box;
    background: #000;
    color: #fff;
    font-size: 14px;
    height: 42px;
    overflow: hidden;
    padding: 5px;
  }

  button {
    background: #2a2a2a;
    color: #fff;
    border: 0;
    border-radius: 2px;
    padding: 5px;
    line-height: 22px;
    -webkit-appreance: none;
    min-width: 32px;
  }

  progress {
    height: 13px;
    width: calc(100% - 281px);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  }

  progress[value]::-webkit-progress-bar {
    background-color: #555;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  progress[value]::-webkit-progress-value  {
    background: #fff;
  }

  .pcast-time {
    display: inline-block;
    font-size: 13px;
    padding: 0 5px;
    text-align: center;
    width: 4em;
  }

  .pcast-speed {
    width: 2.5em;
  }

  .pcast-download {
    font-size: 12px;
    margin-top: 0.5em;
    display: inline-block;
    color: black;
    &:hover,
    &:focus {
      color: #666;
    }
