img {
	text-decoration:none!important;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
	margin:0;
	width:100%;
	background-color:#040404;
}
.block {
    width: 100%;
    float: left;
}
.logo {
	max-width:125px;
	height:auto;
	position:relative;
	float:left;
}
.main-container {
min-height:500px;
width:1200px;
margin:0 auto;
background-color:#fff;
}
.header-container {
position: relative;
z-index: 3;
background-color:#7ba1cc;
height: 68px;
padding: 5px 0 0;
width:100%;
}
.logo-container {
	height:100px;
}
.nav {
	padding-left: 100px;
	position:absolute;
	top:0;
	z-index:2;
	display:inline-block;
  width: 100%;

}
.nav ul {
  list-style: none;
  color: #ffe6be;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav ul li{
  font-size:1.2em;
	font-family: 'Oswald', sans-serif;
	font-weight:700;
	color:#ffe6be;
	display:inline-block;
}
.nav a {
  text-decoration: none;
  color:#ffe6be;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #a20b3b;
}
.nav li {
	 display: inline-block;
	 margin-right: -4px;
 }
@media screen and (min-width: 1200px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 25px;
    line-height: 25px;
    font-size: 1.4em;
  }
	.flex {
		display:flex;
		display:-webkit-flex;
		display:webkit-flex;
	}
	.space-between {
		justify-content:space-between;
	}
	.container {
		box-sizing: border-box;
		margin:0 auto;
		width:1200px;
	}
