img {
	text-decoration:none!important;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
	background-color:#cc9349;
	height:100%;
	margin:0;
	width:100%;
}
.block {
    width: 100%;
    float: left;
}
.logo {
	max-width:125px;
	height:auto;
	position:relative;
	float:left;
}
.main-container {
min-height:500px;
width:1200px;
margin:0 auto;
background-color:#fff;
}
.header-container {
position: relative;
z-index: 3;
background-color:#3e628b;
height: 25px;
padding: 5px 0 10px 0;
width:100%;
}
.logo-container {
	height:115px;
	width:125px;
}
.nav {
	font-size:1.0em;
	font-weight:500;
	padding-left: 115px;
	position:absolute;
	top:0;
	z-index:2;
	display:inline-block;
  width: 100%;

}
.nav ul {
  list-style: none;
  color: #ffe6be;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav ul li{
font-size:1.0em;
	font-family: 'Oswald', sans-serif;
	font-weight:500;
	color:#ffe6be;
	display:inline-block;
	height:40px;
	line-height:40px;
}
.nav a {
  text-decoration: none;
  color:#ffe6be;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #a20b3b;
}
.nav li {
	 display: inline-block;
	 margin-right: -4px;
 }
 .nav-right {
    position: relative;
    float: right;
    width: auto;
    display: inline-block;
	}
@media screen and (min-width: 1200px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 25px;
    line-height: 25px;
    font-size: 1.1em;
		font-weight:500;
  }
	.flex {
		display:flex;
		display:-webkit-flex;
		display:webkit-flex;
	}
	.space-between {
		justify-content:space-between;
	}
	.container {
		box-sizing: border-box;
		margin:0 auto;
		width:1200px;
	}
	ul {list-style: none;padding: 0px;margin: 0px;}
	  ul li {display: block;position: relative;float: left;font-size:1.0em;font-weight:500;}
	  li ul {display: none;background:#a20b3b;}
	  ul li a {display: block;background: #3e628b;text-decoration: none;
	           white-space: nowrap;color: #fff;}
	  ul li a:hover {background:#a20b3b;}
	  li:hover ul {display: block; position: absolute;}
	  li:hover li {float: none;}
	  li:hover a {background:#a20b3b;}
	  li:hover li a:hover {background:#a20b3b;}
form, input {
  color:#422b2e;
	font-family: 'Open Sans', sans-serif;
	font-weight:100;
	font-size:.9em;
}
input{
	border:2px solid #422b2e;
}
		#webForm {
			box-sizing: border-box;
			top:200px;
			left:800px;
			position:absolute;
			float:right;
			color:black;
			width:250px;
			display:inline-flex;
		}
		@media screen and (min-width: 1200px) {
fieldset {
border:0 none;
    width: 40%;
    float: right;
    top: 55px;
    position: absolute;
    Left: 800px;
}
}
button {
	color:#fff;
	background-color:#a20b3b;
	border:0 none;
	padding:10px 15px;
}
.main-content {
	width:100%;
	top:140px;
	height:625px;
	background-color:#adc4de;
}

#middleHeader {
	background:#ffffff;
}
#hero {
padding:10px;

}
@media screen and (min-width: 47.5em ) {
  .leftColumn { margin-right: 19.5em; }

	.rightColumn { position: absolute; top: 150px; right: 0; width: 18.75em; }
}
.asideItem {
	z-index: 0;
	top:0px;
	position:relative;
	background:#fff;
	width:275px;
	height:180px;
	margin-bottom:35px;
}
.alignBottom {
	position:relative
	vertical-align:bottom;
}
.asideButton {
	position:absolute;
	vertical-align: top;
	width:100%;
	height:75px;
	background:rgba(246, 219, 168, 0.5);
	z-index: 100;
}
.asideItem a {
	z-index: 0;
	position:absolute;
	background:rgba(246, 219, 168, 0.8);
	width:100%;
	height:75px;
	text-transform:all-caps;
	text-decoration:none;
	font-family:'Oswald', sans-serif;
	font-weight:700;
	font-size:1.25em;
	color:#422b2e;
	position:absolute;
    top:0;
    left:0;
}
.asideItem a:hover {
	background:rgba(246, 219, 168, 0.95);
}
.footer {
	z-index: 150;
	background:#adc4de;;
	width:1180px;
	margin-left:10px;
	position: relative;
}
footer input[type="text"],
footer textarea,
.blacksidebar .contact-forms input[type="text"],
.blacksidebar .contact-forms textarea {
width: 100%;
margin-bottom: 13px;
padding: 8px 10px;
border-radius: 0;
}
footer.style1 input[type="text"],
footer.style1 textarea,
.blacksidebar .contact-forms input[type="text"],
.blacksidebar .contact-forms textarea {
    color:#bdc3c7;
    background: #1d1e20;
    border: #4b4c4e solid 1px;
}
footer textarea {
    height: 117px;
}
header .contact-forms input[type="text"],
header .contact-forms textarea {
    width: 100%;
    margin-bottom: 20px;
    color:#000408;
    padding: 8px 10px;
    background: #fff;
    border: #c4c4c4 solid 1px;
}
header .contact-forms input[type="submit"],
header .contact-forms button {
    width: auto !important;
}
header .contact-forms input[type="submit"] i,
header .contact-forms button i{
    margin-left: 10px;
}
footer textarea {
    height: 117px;
}
/* Footer
================================================== */
footer {
width: 100%;
clear: both;
color: #bdc3c7;
padding: 10px 0 40px 0;
background: #adc4de;
}
footer hr {
    border-top: rgba(255, 255, 255, 0.2) solid 1px;
}
.footerwidgets {
    padding: 0px 0;
}
footer.style1 .widget {
    color: #bdc3c7;
    border-top: none;
}
footer .widget:before {
    background: none;
}
footer.style1 .widget a{
    color: #bdc3c7;
}

/* Widget Flickr Gallery
================================================== */
.flickrgallery {
    width: 100%;
    float: left;
}
.flickrgallery ul{
    display: block;
    padding: 0px 20px 20px 20px;
    float: left;
    margin: -5px 0 0 -5px;
}
footer .flickrgallery ul{
    padding: 0px 0px 20px 0px;
}
.graysidebar .flickrgallery ul{
    padding-top: 20px;
}
.flickrgallery ul li{
    padding: 5px 0 0 5px;
    float: left;
    width: 25%;
}
.flickrgallery ul li a{
    padding: 3px;
    float: left;
    overflow: hidden;
    border: #5a5a5a solid 1px;
}
.graysidebar .flickrgallery ul li a{
    border: #cdcdcd solid 1px;
}
footer.style2 .flickrgallery ul li a,
footer.style3 .flickrgallery ul li a
{
    border: #abadb3 solid 1px;
}

.widget-contact {
padding: 6px 45px 10px 45px;
background: rgba(226, 220, 224, 0.15);
border-radius: 2px;
}
